@page "/"

<div class="autocomplete">
    <input @bind="@Search" id="myInput" @bind:event="oninput" type="text" name="myCountry" placeholder="Busqueda">
    @*<div class="autocomplete-items">
            @if (Autocomplete != null)
            {
                @foreach (var Title in Autocomplete)
                {
                    <div @onclick="() => { Search = Title.Title;
                                       Autocomplete = default; }">
                        @Title
                    </div>
                }
            }
        </div>*@
</div>


@if (TopicsComplete != null)
{
    <div class="row">
        <div class="col">
            <ul>
                @foreach (var LevelTopicOne in TopicsComplete)
                {
                    <li>
                        <label>
                            @if (LevelTopicOne.IsHasChildren)
                            {
                                <a class="TopicTitle" @onclick="() => { GetChildrenTopic(LevelTopicOne); }" style="cursor:pointer;">@LevelTopicOne.Title</a>
                            }
                            else
                            {
                                <span>@LevelTopicOne.Title</span>
                            }
                            <a href="@LevelTopicOne.Url">Link</a>
                        </label>
                        @if (LevelTopicOne.ChildrenList != null)
                        {
                            <ul>
                                @foreach (var LevelTopicTwo in LevelTopicOne.ChildrenList)
                                {
                                    <li>
                                        <label>
                                            @if (LevelTopicTwo.IsHasChildren)
                                            {
                                                <a class="TopicTitle" @onclick="() => { GetChildrenTopic(LevelTopicTwo); }" style="cursor:pointer;">@LevelTopicTwo.Title</a>
                                            }
                                            else
                                            {
                                                <span>@LevelTopicTwo.Title</span>
                                            }
                                            <a href="@LevelTopicTwo.Url">Link</a>
                                        </label>
                                        @if (LevelTopicTwo.ChildrenList != null)
                                        {
                                            <ul>
                                                @foreach (var LevelTopicTree in LevelTopicTwo.ChildrenList)
                                                {
                                                    <li>
                                                        <label>
                                                            @if (LevelTopicTree.IsHasChildren)
                                                            {
                                                                <a class="TopicTitle" @onclick="() => { GetChildrenTopic(LevelTopicTree); }" style="cursor:pointer;">@LevelTopicTree.Title</a>
                                                            }
                                                            else
                                                            {
                                                                <span>@LevelTopicTree.Title</span>
                                                            }
                                                            <a href="@LevelTopicTree.Url">Link</a>
                                                        </label>
                                                        @if (LevelTopicTree.ChildrenList != null)
                                                        {
                                                            <ul>
                                                                @foreach (var LevelTopicFour in LevelTopicTree.ChildrenList)
                                                                {
                                                                    <li>
                                                                        <label>
                                                                            @if (LevelTopicFour.IsHasChildren)
                                                                            {
                                                                                <a class="TopicTitle" @onclick="() => { GetChildrenTopic(LevelTopicFour); }" style="cursor:pointer;">@LevelTopicFour.Title</a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span>@LevelTopicFour.Title</span>
                                                                            }
                                                                            <a href="@LevelTopicFour.Url">Link</a>
                                                                        </label>
                                                                        @if (LevelTopicFour.ChildrenList != null)
                                                                        {
                                                                            <ul>
                                                                                @foreach (var LevelTopicFive in LevelTopicFour.ChildrenList)
                                                                                {
                                                                                    <li>
                                                                                        <label>
                                                                                            <span>@LevelTopicFive.Title </span>
                                                                                            <a href="@LevelTopicFive.Url">Link</a>
                                                                                        </label>
                                                                                    </li>
                                                                                }
                                                                            </ul>
                                                                        }
                                                                    </li>
                                                                }
                                                            </ul>
                                                        }
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
}










@code{

        List<Topic> BaseTopics;
        List<Topic> Topics;
        List<Topic> Autocomplete;
        List<Topic> TopicsComplete;
    event Action OnInputSearch;
    private string BFSearch;
    public string Search { get { return BFSearch; } set { BFSearch = value; OnInputSearch?.Invoke(); } }

    protected override void OnInitialized()
    {
        BaseTopics = Repository.References.ToList().ConvertAll(p => new Topic()
        {
            Id = p.Id,
            ParentId = p.ParentId,
            Title = p.Title,
            Url = p.Url,
            IsHasChildren = true
        });
        Topics = BaseTopics.Where(p => p.ParentId == 0).ToList();
        OnInputSearch += Filter;
    }

    //void FilterSearchInputRecursive()
    //{
    //    if(!string.IsNullOrEmpty(BFSearch))
    //    {
    //        Autocomplete = BaseTopics.Where(d => d.Title.ToLower().Contains(BFSearch.ToLower())).Select(d => d.Title)
    //.Take(10).Distinct().ToList();
    //    }
    //    else
    //    {
    //        Autocomplete = default;
    //    }
    //}

    void FilterSearchInputRecursive(int id)
    {
        if (id != 0)
        {
            var topic = Autocomplete.Where(d => d.Id == id).FirstOrDefault();
            TopicsComplete.Add(topic);
            FilterSearchInputRecursive(topic.ParentId);
        }
    }

    void Filter()
    {
        TopicsComplete = new List<Topic>();
        Autocomplete = new List<Topic>();
        if (!string.IsNullOrEmpty(BFSearch))
        {
            Autocomplete = BaseTopics.Where(r => r.Title.ToLower().Contains(BFSearch.ToLower())).ToList();
            foreach (var D in Autocomplete)
            {
                    TopicsComplete.Add(D);
                FilterSearchInputRecursive(D.ParentId);
            }

        }
        else
        {
            Autocomplete = BaseTopics.Where(p => p.ParentId == 0).ToList();
        }
    }



    void GetChildrenTopic(Topic p)
    {
        if (p.IsOpen)
        {
            p.ChildrenList = default;
            p.IsOpen = false;
        }
        else
        {
            p.ChildrenList = BaseTopics.Where(c => c.ParentId == p.Id).ToList();
            if (p.ChildrenList.Count > 0)
            {
                p.IsOpen = true;
            }
            else
            {
                p.IsHasChildren = false;
            }

        }
    }




}
