@page "/"

    <div class="autocomplete" style="width:300px;">
        <input   @bind="@Search" id="myInput" @bind:event="oninput" type="text" name="myCountry" placeholder="Country">
    </div>
    <div id="myInputautocomplete-list" class="autocomplete-items">
       @if (Autocomplete != null)
       {
        @foreach (var A in Autocomplete)
        {
            <div @onclick="() => Search = A.Title" style="cursor:pointer;">
                @A.Title
            </div>
        }
       }
    </div>
    <button @onclick="Filter">
        Filtrar
    </button>


@*<input @bind="@Search" placeholder="Escribe tu consulta" />*@

    <div class="row">
        <div class="col">
            <ul>
                @foreach (var R in Topics)
                {
                    <li>
                        <label>
                            @if (R.IsHasChildren)
                            {
                                <a @onclick="() => { DoSomeThing(R); }" style="cursor:pointer;">@R.Title</a>
                            }
                            else
                            {
                                <span>@R.Title</span>
                            }
                            <a href="@R.Url">Link</a>
                        </label>
                        @if (R.ListSecondary != null)
                        {
                            <ul>
                                @foreach (var S in R.ListSecondary)
                                {
                                    <li>
                                        <label>
                                            @if (S.IsHasChildren)
                                            {
                                                <a @onclick="() => { DoSomeThing(S); }" style="cursor:pointer;">@S.Title</a>
                                            }
                                            else
                                            {
                                                <span>@S.Title</span>
                                            }
                                            <a href="@S.Url">Link</a>
                                        </label>
                                        @if (S.ListSecondary != null)
                                        {
                                            <ul>
                                                @foreach (var T in S.ListSecondary)
                                                {
                                                    <li>
                                                        <label>
                                                            @if (T.IsHasChildren)
                                                            {
                                                                <a @onclick="() => { DoSomeThing(T); }" style="cursor:pointer;">@T.Title</a>
                                                            }
                                                            else
                                                            {
                                                                <span>@T.Title</span>
                                                            }
                                                            <a href="@T.Url">Link</a>
                                                        </label>
                                                        @if (T.ListSecondary != null)
                                                        {
                                                            <ul>
                                                                @foreach (var Q in T.ListSecondary)
                                                                {
                                                                    <li>
                                                                        <label>
                                                                            <span>@Q.Title</span>
                                                                            <a href="@Q.Url">Link</a>
                                                                        </label>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        }
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>











@code{

    List<Topic> BaseTopics;
    List<Topic> Topics;
    List<Topic> Autocomplete;
    event Action Invoque;


    protected override void OnInitialized()
    {
        BaseTopics = Repository.References.ToList().ConvertAll(p => new Topic()
        {
            Id = p.Id,
            ParentId = p.ParentId,
            Title = p.Title,
            Url = p.Url,
            IsHasChildren = true
        });
        Topics = BaseTopics.Where(p => p.ParentId == 0).ToList();
        Invoque += FilterChange;
    }




    class Topic
    {
        public int Id { get; set; }
        public int ParentId { get; set; }
        public string Title { get; set; }
        public string Url { get; set; }
        public bool IsHasChildren { get; set; }
        public List<Topic> ListSecondary { get; set; }
        public bool IsOpen { get; set; }
    }

    private string BFSearch;
    public string Search { get { return BFSearch; } set { BFSearch = value; Invoque?.Invoke();} }


    void DoSomeThing(Topic p)
    {
        if (p.IsOpen)
        {
            p.ListSecondary = default;
            p.IsOpen = false;
        }
        else
        {
            p.ListSecondary = BaseTopics.Where(c => c.ParentId == p.Id).ToList();
            if(p.ListSecondary.Count > 0)
            {
                p.IsOpen = true;
            }
            else
            {
                p.IsHasChildren = false;
            }

        }
    }


    void FilterChange()
    {
        Autocomplete = BaseTopics;
        Autocomplete = Autocomplete.Where(d => d.Title.ToLower().Contains(BFSearch.ToLower())).Take(10).ToList();
    }

    void Filter()
    {
        List<Topic> TopicParent = new List<Topic>();
        Topics = BaseTopics.Where(r => r.Title.Contains(BFSearch)).ToList();
        foreach(var T in Topics)
        {
            var Topic = T;
            if (T.ParentId != 0)
            {
                Topic = BaseTopics.Where(d => d.Id == T.ParentId).FirstOrDefault();
            }
            if(Topic != null)
            {
                TopicParent.Add(Topic);
            }
        }
        Topics = TopicParent.Distinct().ToList();
    }
}
